<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-lightnavbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </nav>
  </div>
  <br>
  <br>
  <br>
  <div class="loginform" align="center">
  	<img src="/home/rajani/workspace/myapp/computer.jpeg" height="100" width="150" align="center"><br>
  	<table bgcolor="red" border="2"> 
  	<td>
  		<form>
  			<p class="text-primary" align="center"><i class="glyphicon glyphicon-envelope"> Login ID</i></p>
  			<input type="text" class="bg-secondary text-white" id="user">
  			<p class="text-primary" align="center"> Password</p>
				<input type="password" class="bg-secondary text-white" id="password" placeholder="password"><br> <br>
				<a href="" target="_self" align="left"> Forget Password </a><br>
				<button type="submit" class="btn btn-primary btn-block"> LOGIN </button>
		</form>
	</td>
	</table>
	</div>
